<router-outlet></router-outlet>
<div class="fixed bottom-0 left-0 right-0 bg-white border-t border-gray-200 px-6 py-3 rounded-t-2xl shadow-lg safe-area-bottom">
    <div class="flex items-center justify-between h-16">
      <a class="text-primary" [routerLink]="'/dashboard'" >
         <lucide-icon [img]="House"></lucide-icon>
      </a>

      <button class="text-gray-400 hover:text-gray-600">
         <lucide-icon [img]="chartColumnBig" ></lucide-icon>
      </button>

      <button 
        (click)="router.navigate(['/add-expense'])"
        class="w-12 h-12 rounded-full bg-primary text-white flex items-center justify-center ring-4 ring-white shadow-lg"
      >
        <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" aria-hidden="true">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 4v16m8-8H4" />
        </svg>
      </button>

      <button class="text-gray-400 hover:text-gray-600">
        <lucide-icon [img]="WalletMinimal" ></lucide-icon>
      </button>

      <button (click)="authService.logout()" class="text-gray-400 hover:text-gray-600">
        <lucide-icon [img]="UserRound" ></lucide-icon>
      </button>
    </div>
</div>